<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Activer un compte</title>
  </head>
  <body>
    <h2>Bonjour {{name}}! </h2>
    <p>Cliquez sur ce lien pour activer votre compte:
      <a href='{{url}}/email-verify/{{token}}'>Lien</a></p>
  </body>


</html>